<app-nav-bar></app-nav-bar>
<div class="container">
    <form class="prescriptionForm" [formGroup]="prescriptionForm" (ngSubmit)="onSubmit()">
      <div class="form_group_1" *ngIf="currentStepIndex === 0">

        <div class="container-labal-svg">
          <svg (click)="previousStep()" *ngIf="currentStepIndex > 0" fill="#fff" height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 476.213 476.213" xml:space="preserve">
            <polygon points="476.213,223.107 57.427,223.107 151.82,128.713 130.607,107.5 0,238.106 130.607,368.714 151.82,347.5   57.427,253.107 476.213,253.107 "/>
            </svg>
          <img class="icon-treatment-1" src="../../../assets/icons/icon-treatment-1.png"/>
          <label class="name-treatment" for="Nom-treatement">Nom du traitement</label>
        </div>
       
        <input
        type="text"
        class="form-control"
        placeholder="Ajouter le nom de la prescription" />
        <button (click)="nextStep()" type="button" class="next-step">Suivant</button>
      </div>
    <!-- Fréquence -->
    <div class="form-group" *ngIf="currentStepIndex === 1" >
      <div class="container-labal-svg">
      <svg (click)="previousStep()" *ngIf="currentStepIndex > 0" fill="#fff" height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 476.213 476.213" xml:space="preserve">
        <polygon points="476.213,223.107 57.427,223.107 151.82,128.713 130.607,107.5 0,238.106 130.607,368.714 151.82,347.5   57.427,253.107 476.213,253.107 "/>
        </svg>
      <img class="icon-treatment-1" src="../../../assets/icons/icon-treatment-1.png"/>
      <label for="frequence">Récurrence</label>
     </div>
        <select class="select-form" formControlName="frequence">
          <option value="1 fois par jour">1 fois par jour</option>
          <option value="2 fois par jour">2 fois par jour</option>
          <option value="Toutes les 30 secondes">Toutes les 30 secondes</option>
          <option value="Toutes les 10 minutes">Toutes les 10 minutes</option>
          <option value="Toutes les 4 heures">Toutes les 4 heures</option>
          <option value="Toutes les 8 heures">Toutes les 8 heures</option>
          <option value="Toutes les 12 heures">Toutes les 12 heures</option>
        </select>
        <div *ngIf="prescriptionForm.get('frequence')?.invalid && prescriptionForm.get('frequence')?.touched" class="text-danger">
          La fréquence est requise.
        </div>
        <button class="next-step" type="button"  (click)="nextStep()">Suivant</button>
    </div>
      <!-- Liste des médicaments -->
      <div class="form-group" *ngIf="currentStepIndex === 2" >
        <div class="container-labal-svg">
        <svg (click)="previousStep()" *ngIf="currentStepIndex > 0" fill="#fff" height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 476.213 476.213" xml:space="preserve">
          <polygon points="476.213,223.107 57.427,223.107 151.82,128.713 130.607,107.5 0,238.106 130.607,368.714 151.82,347.5   57.427,253.107 476.213,253.107 "/>
          </svg>
        <img class="icon-treatment-1" src="../../../assets/icons/icon-treatment-1.png"/>
        <label for="medicationId">Medication</label>
        </div>
        <select id="medicationId" class="select-form form-control" formControlName="medicationId">
          <option value="" disabled selected>Select a medication</option>
          <option *ngFor="let medication of medications" [value]="medication._id">
            {{ medication.name }}
          </option>
        </select>
        <div *ngIf="prescriptionForm.get('medicationId')?.invalid && prescriptionForm.get('medicationId')?.touched" class="text-danger">
          Vous devez sélectionner un médicament.
        </div>
        <button class="next-step" type="button"  (click)="nextStep()">Suivant</button>
      </div>
    
      <!-- Dosage -->
      <div class="form-group" *ngIf="currentStepIndex === 3" >
        <div class="container-labal-svg">
        <svg (click)="previousStep()" *ngIf="currentStepIndex > 0" fill="#fff" height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 476.213 476.213" xml:space="preserve">
          <polygon points="476.213,223.107 57.427,223.107 151.82,128.713 130.607,107.5 0,238.106 130.607,368.714 151.82,347.5   57.427,253.107 476.213,253.107 "/>
          </svg>
        <img class="icon-treatment-1" src="../../../assets/icons/icon-treatment-1.png"/>
        <label for="dosage">Dosage</label>
        </div>
        <input
          id="dosage"
          type="text"
          class="form-control"
          formControlName="dosage"
          placeholder="Entrez le dosage"
        />
        <div *ngIf="prescriptionForm.get('dosage')?.invalid && prescriptionForm.get('dosage')?.touched" class="text-danger">
          Le dosage est requis.
        </div>
        <button class="next-step" type="button"  (click)="nextStep()">Suivant</button>
      </div>
  <!-- Date de prescription -->
  <div class="form-group" *ngIf="currentStepIndex === 4" >
    <div class="container-labal-svg">
    <svg (click)="previousStep()" *ngIf="currentStepIndex > 0" fill="#fff" height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 476.213 476.213" xml:space="preserve">
      <polygon points="476.213,223.107 57.427,223.107 151.82,128.713 130.607,107.5 0,238.106 130.607,368.714 151.82,347.5   57.427,253.107 476.213,253.107 "/>
      </svg>
    <img class="icon-treatment-1" src="../../../assets/icons/icon-treatment-1.png"/>
    <label for="datePrescribed">Date de prescription</label>
    </div>
   
    <input
      id="datePrescribed"
      type="date"
      class="form-control"
      formControlName="datePrescribed"
      [value]="prescriptionForm.get('datePrescribed')?.value"
    />
    <div *ngIf="prescriptionForm.get('datePrescribed')?.invalid && prescriptionForm.get('datePrescribed')?.touched" class="text-danger">
      La date est requise.
    </div>
    <button class="next-step" type="button"  (click)="nextStep()">Suivant</button>
  </div>

  <!-- Heure de prescription -->
  <div class="form-group" *ngIf="currentStepIndex === 5">
    <div class="container-labal-svg">
    <svg (click)="previousStep()" *ngIf="currentStepIndex > 0" fill="#fff" height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 476.213 476.213" xml:space="preserve">
      <polygon points="476.213,223.107 57.427,223.107 151.82,128.713 130.607,107.5 0,238.106 130.607,368.714 151.82,347.5   57.427,253.107 476.213,253.107 "/>
      </svg>
    <img class="icon-treatment-1" src="../../../assets/icons/icon-treatment-1.png"/>
    <label for="timePrescribed">Heure de prescription</label>
  </div>
    <input
      id="timePrescribed"
      type="time"
      class="form-control"
      formControlName="timePrescribed"
      [value]="prescriptionForm.get('timePrescribed')?.value"
    />
    <div *ngIf="prescriptionForm.get('timePrescribed')?.invalid && prescriptionForm.get('timePrescribed')?.touched" class="text-danger">
      L'heure est requise.
    </div>
    <button class="next-step" type="button"  (click)="nextStep()">Suivant</button>
  
  </div>
      <!-- Bouton de soumission -->
    
    </form>
</div>
