/* home-page.component.css */
:host {
  display: flex;
  flex-direction: column;
  width: 96%;
  height: 100vh;
}
.home-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 36px;
  }
  
  .buttons-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-top: 10px;
  }

.add-treatment {
background-color: #0055b038;
  color: #007bff;
  font-weight: 100;
  width: 100%;
  padding: 10px;
}
.add-treatment:hover {
  transition: 0.2s;
  color: #0055b0;
}


  .icon-label-treatement {
    height: 50px;
    width: 50px;
  }
  .title-treatment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    max-width: 500px;
  }

  .icon-treatment-1 {
    height: 150px;
    width: 250px;
  }

  .home-page-container {
    background-color:#2C2C2E ;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
  }
  @media (max-width: 1000px) {
    .title-treatment {
      max-width: 500px;
    }
    
  }
  @media (max-width: 600px) {
    .title-treatment {
      width: 100%;
    }

  }
  .settings-treatment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

  }
  
  .btn-view-prescriptions, .btn-add-prescriptions {
    background-color: #ffffff;
    cursor: pointer;
    color: #1e2246;
  }
  
  .btn-add-prescription {
    background-color: #4285f4;
    color: white;
  }
  

  @media screen and (max-width: 500px) {
    .buttons-container {
      flex-direction: column; /* Les boutons s'empilent en colonne */
      align-items: center; /* Centre les boutons dans le conteneur */
      gap: 10px; /* Ajoute un espace entre les boutons */
    }
  
    .buttons-container button {
      width: 100%; /* Les boutons prennent toute la largeur */
      font-size: 1rem; /* Ajuste la taille du texte */
    }
  }
  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 60px;
  height: 80vh;
  margin-top: 20px;
  font-weight: 400;
}

h1 {
  font-weight: 900;
  font-size: 32px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 70px;
  justify-items: center;
}

.card {
  background-color: #fff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 330px;
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.prescription-icon {
  padding: 10px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e2246;
  padding: 10px;
  margin-bottom: 15px;
  gap: 10px;
}

.icon i {
  height: 64px;
  width: 64px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.prescription-icon {
  font-size: 50px;
  color: #1e2246;
}

.fa-code {
  background: linear-gradient(to bottom right, #fbbbda, #ffd4d4);
}

.fa-cog {
  background: linear-gradient(to bottom right, #bbebfb, #efd4ff);
}
.container-carroussel-parent {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #000;
  color: #fff;
  width: 100%;
  gap: 50px;
  height: 60vh;
}

.container-enregistrement {
  width: 70%;
}

.container-parent-prescription-about {
  width: 30%;
}

.enregistrement-prescription {
  display: flex;
  justify-content:left;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.container-parent-prescription {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 20px;
  width: 100%;
}
/* Treatement need */

/* Nouveau CSS spécifique pour la modale de suivi des traitements */
.sweet-alert-popup-treatment {
  max-width: 80%;
  width: auto;
  background-color: #2C2C2E;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
}

.sweet-alert-title-treatment {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}

.sweet-alert-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: #3a3a3c;  /* Couleur de fond pour les cartes */
  border-radius: 8px;
  padding: 10px;
}

.sweet-alert-card img {
  border-radius: 8px;
  margin-right: 15px;
}

.sweet-alert-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.sweet-alert-card-content .medicament-name {
  font-size: 18px;
  font-weight: bold;
}

.sweet-alert-card-content .medicament-dosage {
  font-size: 16px;
  margin-top: 5px;
}

.sweet-alert-card-content .medicament-date {
  font-size: 14px;
  margin-top: 10px;
}

.sweet-alert-card-content .btn-pris {
  background-color: #142A33;
  color: #007bff;
  font-weight: bold;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.sweet-alert-cancel-button-treatment {
  background-color: #2C2C2E;
  color: white;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.container-prescriptions {
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}
.sweet-alert-popup {
  border-radius: 10px;
  padding: 20px;
}

.sweet-alert-title {
  font-weight: bold;
  font-size: 18px;
}
.data-info {
  width: 100%;
  height: 400px;
}
.treatement-need {
  background-color: #142A33;
  color: #007bff;

}

.sweet-alert-cancel-button {
  background-color: #f56b2a;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
}

.sweet-alert-popup > div {
  margin-top: 10px;
  font-size: 14px;
}
.container-details {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-color: #2C2C2E;
  width: 400px;
  margin-top: 50px;
  border-radius:  8px;
  cursor: pointer;
}

.container-details > h1{
  font-weight: bold;
  padding: 10px;
}
.container-details > p {
  padding: 10px;
}
.img-drugs, .img-container {
  height: 100px;
  display: block;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.container-dosage-recurrence {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}


.container-details > img {
  height: 200px;
  width: 100%;
  border-radius: 8px;
}

.container-details > p {
  font-weight: 400;
}
.add-treatment {
  display: block;
  margin: auto;
}
.prescription-item {
  display: flex;
  justify-content: center;
  background-color: #2C2C2E;
  border-radius: 5px;
  font-weight: 100;
  width: 400px;
  height: 100px;
}
.enregistrement-prescription > button {
  width: 40%;
}

.fa-user-group {
  background: linear-gradient(to bottom right, #bbfbe4, #d4e0ff);
}

.fa-clipboard {
  background: linear-gradient(to bottom right, #bbd8fb, #ffd4d4);
}

.fa-graduation-cap {
  background: linear-gradient(to bottom right, #ffdec7, #d4d9ff);
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

/* Default state for .count (not selected) */
.count,
.count:visited {
  display: block;
  text-decoration: none;
  color: #1e2246;
  border: 1px solid #c2c5e2;
  border-radius: 8px;
  padding: 10px 30px;
  margin-top: 40px;
  transition: background-color 0.3s ease;
}

/* Hover state */
.count:hover {
  background-color: #f1f5fe;
}

/* Selected state */
.count.selected {
  background-color: #1e2246;
  color: #fff;
  border: 2px solid #c2c5e2;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.footer {
  max-width: 845px;
  width: 100%;
  margin-bottom: -30px;
}

/* Responsive Design for Medium Screens (980px) */
@media (max-width: 980px) {

  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .card {
    padding: 30px;
    max-width: 280px;
  }

  .icon {
    font-size: 2rem;
    gap: 8px;
  }

  .title {
    font-size: 1.1rem;
  }

  .count {
    font-size: 0.9rem;
  }
}

/* Responsive Design for Smaller Screens (768px and below) */
@media (max-width: 768px) {
  .container-parent-prescription > h2 {
    margin-top: 20px;
  }
  .container-details > img {
    height: 100%;
    width: 100%;
  }
  .container-carroussel-parent {
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 20px; /* Ajoutez un peu d'espace en bas */
  }
  
.prescription-item {
  gap: 20px;
}
  .container-enregistrement,.prescription-item ,.container-parent-prescription-about {
    width: 100%;
  }
  .cards {
    grid-template-columns: 1fr;
  }

  .card {
    padding: 20px;
  }
}
.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
}

/* Extra Small Screen Adjustments */
@media (max-width: 480px) {
  .container-btn  {
    margin-top: 10px;
  }
  .treatement-need {
    margin-top: 200px;
  }
  .container-parent-prescription > h2 {
    margin-top: 20px;
  }
  .container-enregistrement, .container-parent-prescription-about, .prescription-item, .container-details {
    width: 100%;
  }
  .container-carroussel-parent  {
    flex-direction: column;
  }
  .container {
    padding: 30px;
  }

  h1 {
    padding: 10px;
    font-size: 25px;
  }

  .card {
    padding: 15px;
  }

  .title {
    font-size: 1rem;
  }

  .count {
    padding: 8px 20px;
    font-size: 0.8rem;
  }
}


/* Styles pour la vue du carrousel */
.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-display {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.date-display button {
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
}

.carousel {
  display: flex;
  overflow-x: scroll;
  width: 90%;
  height: 200px;
  gap: 20px; /* Espacement entre les jours */
  justify-content: center;
}

.carousel-item {
  flex-shrink: 0;
  text-align: center;
  position: relative;
}

.day-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day {
  font-size: 24px;
  font-weight: bold;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin-top: 5px;
  position: absolute;
  bottom: -15px;
}

/* Optionnel : Style pour l'élément en survol (facultatif) */
.carousel-item:hover .day {
  color: #007bff;
}

