<app-nav-bar></app-nav-bar>
<div class="home-page-container">
  <div class="settings-treatment">
    <img class="icon-treatment-1" src="../../../assets/icons/icon-add-treatement-form-2.png"/>
    <h1 >Configurer vos traitement</h1>
  </div>

  <div class="title-treatment">
    <img class="icon-label-treatement" src="../../../assets/icons/icon-add-treatement-1.png"/>
    <p>Suivez la prise de tous vos traitements au même endroit.</p>
  </div>

  <div class="title-treatment">
    <img class="icon-label-treatement" src="../../../assets/icons/icon-add-treatement-2.png"/>
    <p>Définissez un programme et recevez des rappels.</p>
  </div>


  <div class="title-treatment">
    <img class="icon-label-treatement" src="../../../assets/icons/icon-add-treatement-3.png"/>
    <p>Les informations relatives à vos traitements sont chiffrées et ne pourront être lues par personne sans votre permission, pas même par Apple.</p>
  </div>

  <div class="title-treatment">
    <button class="add-treatment" (click)="addPrescription()">Ajouter un traitement</button>
  </div>
  </div>
  