<div class="wizard">
  <div class="title-questionnary">
    <h2>{{ title }}</h2>
    <div class="icon-guardian">
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#fff" stroke="none">
          <path d="M1700 4394 c-621 -242 -842 -333 -863 -353 -44 -43 -51 -123 -51 -631 -1 -674 42 -1046 166 -1418 141 -426 475 -845 963 -1212 234 -176 580 -380 645 -380 37 0 192 79 365 187 611 381 1059 881 1236 1382 72 203 131 517 161 851 16 182 17 999 1 1114 -10 66 -16 84 -40 107 -21 20 -236 109 -853 349 -454 177 -841 324 -860 326 -28 4 -202 -61 -870 -322z m1530 -183 c355 -139 691 -270 747 -292 l102 -40 8 -47 c4 -26 8 -231 8 -457 -1 -443 -12 -619 -60 -903 -44 -259 -95 -434 -175 -599 -172 -355 -523 -724 -973 -1023 -118 -79 -310 -190 -327 -190 -32 0 -387 223 -528 332 -413 320 -694 662 -828 1009 -69 178 -128 470 -159 779 -28 283 -30 1068 -3 1096 15 14 1506 592 1523 590 11 -2 310 -117 665 -255z"/>
        </g>
      </svg>
      <span class="span">Guardian</span>
    </div>
  </div>
   
  <div class="steps">
    <div class="step-class"
      *ngFor="let step of steps; let i = index"
      [class.active]="i === currentStep"
      (click)="goToStep(i)"
    >
      Étape {{ step.step }}
    </div>
  </div>

  <div class="step-content">
    <div *ngFor="let question of steps[currentStep]?.questions">
      <label class="label" [for]="'question-' + question._id">{{ question.text }}</label>
  
      <!-- Pour les champs de type 'text' -->
      <input class="input-radio on" 
        *ngIf="question.type === 'text'"
        [(ngModel)]="responses[question._id]"
        [id]="'question-' + question._id"
        type="text"
      />
  
      <!-- Pour les cases à cocher indépendantes (type 'boolean') -->
      <div *ngIf="question.type === 'boolean'">
        <label class="checkbox-container">
          <input
            type="checkbox"
            [(ngModel)]="responses[question._id + '-yes']"
            [id]="'question-' + question._id + '-yes'"
            [name]="'question-' + question._id + '-yes'"
          />
          <span class="checkbox-label">Oui</span>
        </label>
        <label class="checkbox-container">
          <input
            type="checkbox"
            [(ngModel)]="responses[question._id + '-no']"
            [id]="'question-' + question._id + '-no'"
            [name]="'question-' + question._id + '-no'"
          />
          <span class="checkbox-label">Non</span>
        </label>
      </div>
  
      <!-- Pour les champs de type 'rating' -->
      <input
        *ngIf="question.type === 'rating'"
        [(ngModel)]="responses[question._id]"
        [id]="'question-' + question._id"
        type="number"
        min="1"
        max="5"
      />
    </div>
  </div>
  

  <div class="navigation">
    <button (click)="previousStep()" [disabled]="currentStep === 0">Précédent</button>
    <button (click)="nextStep()" [disabled]="currentStep === steps.length - 1">Suivant</button>
    <button *ngIf="currentStep === steps.length - 1" (click)="submitWizard()">Soumettre</button>
  </div>
</div>
