<app-nav-bar></app-nav-bar>
<div class="container-drugs">
  <div *ngFor="let medicament of medications" class="drug-item">
    <div class="drugs">
      <img class="img-drugs" *ngIf="medicament.type === 'comprime'" src="../../../assets/icons/icon-comprime.png" alt="Image comprimé">
      <img class="img-drugs" *ngIf="medicament.type === 'gellule'" src="../../../assets/icons/icon-gellule.png" alt="Image gélule">
      <img class="img-drugs" *ngIf="medicament.type === 'topique'" src="../../../assets/icons/icon-topique.png" alt="Image topique">
      <div class="medicament-details">
        <div>{{ medicament.name }}</div>
        <div>{{ medicament.description }}</div>
        <div class="id-drug">{{ medicament._id }}</div>
      </div>
    </div>
  </div>
</div>

  