/* Style pour le NavBar */
app-nav-bar {
    margin-bottom: 20px; /* Espace sous la barre de navigation */
  }
  
  .container-drugs {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de se déplacer sur une nouvelle ligne */
    justify-content: space-between; /* Espace entre les éléments */
    gap: 20px; /* Espacement entre les éléments */
  }
  
  .drug-item {
    width: 30%; /* Par défaut, 4 éléments par ligne */
    box-sizing: border-box; /* Assure que le padding/margin ne dépasse pas la largeur */
  }
  
  .img-drugs {
    width: 100%; /* L'image occupe toute la largeur de son conteneur */
    height: auto;
    display: block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .medicament-details {
    padding: 10px;
    margin-top: 10px;
  }
  
  /* Media Query pour écrans moyens (moins de 1200px) */
  @media (max-width: 1200px) {
    .drug-item {
      width: 48%; /* 2 éléments par ligne */
    }
  }
  
  /* Media Query pour écrans petits (moins de 768px) */
  @media (max-width: 768px) {
    .drug-item {
      width: 100%; /* 1 élément par ligne */
    }
  }
  
  .img-drugs {
    width: 100px;
    height: 100px;
  }

  .id-drug {
    color: #4285F4;
  }
  .drugs {
    display: flex;
    justify-content: left;
    font-weight: 100;
    background-color: #2C2C2E;
    height: 100px;
    width: 340px;
    border-radius: 10px;
    color: #fff;
  }
  
  /* Style de la table pour les petits écrans */
  @media (max-width: 768px) {
    .table thead {
      font-size: 14px;
    }
    .table td, .table th {
      font-size: 12px;
      padding: 8px;
    }
  }
  