:host {
    display: block;
    width: 100%; /* Prendre toute la largeur */
    height: 100%; /* Prendre toute la hauteur */
    min-height: 100vh;
  }

button:nth-child(1){
  width: 30%;
}
button:nth-child(2){
  width: 20%;
}

button {
  border: 1px solid #fff;
}
.title {
  font-size: 70px;
}
.paraph-text {
  font-size: 30px;
}
  /* CONTAINER CENTRALISÉ */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    width: 100%;
    min-height: 100vh;
  }
  
  .side-left, .side-right {
    display: flex;
    flex-direction: column;

  }

  .side-left{
    line-height: 1.1875;
  }

  .paraph-text {
    color: #ffffff61;
    padding: 20px;

  }
  /* BOUTONS CENTRÉS */
  .side-right {
    width: 100%;
    height: 100%;
    gap: 20px; /* Espacement entre les boutons */
  }
  
  button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;

    width: 70%;
    padding: 20px;
    margin: 0 10px; /* Espacement entre les boutons pour les écrans larges */
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s ease-in-out;
  }
  
  /* STYLES DES BOUTONS */
  .reg {
    color: white;
    background-color: #1C1A28;
  }
  
  .log {
    color: #fff;
    background-image: radial-gradient(134.26% 244.64% at 42.92% -80.36%,#b301b3 25.45%,#381dbd 100%);
  }
  .span {
    background: radial-gradient(134.26% 244.64% at 42.92% -80.36%, #b301b3 25.45%, #381dbd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .title-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .side-right {
    align-items: center;
    justify-content: center;
    flex-direction: row; /* Boutons empilés verticalement */
    gap: 15px; /* Réduction de l'espacement */
    width: 100%;
    height: 100%;
  }

  /* MEDIA QUERY POUR PETITS ÉCRANS */
  @media (max-width: 500px) {
    button:nth-child(1) {
      width: 80%;
    }
    .container {
      flex-direction: column;
      height: 100vh;
      overflow-y: scroll;
      gap: 100px;
    }
    .paraph-text {
      color: #ffffff61;
      padding: 20px;
      text-align: center;
    }
    .side-right {
      width: 100%;
      height: 100%;
    }

    .side-left{
      display: block;
    }

    .title-main {
      flex-direction: column;
      margin-top: 130px;

    }
    .log {
      display: block;
      margin: auto;
      margin-bottom: auto;
      margin-bottom: 50px;
    }
    .title {
      padding: 20px;
    }

    svg {
      height: 200px;
      width: 200px;
    }
  
    button {
      width: 100%; /* Les boutons occupent toute la largeur */
      font-size: 1rem; /* Réduction de la taille de police */
      padding: 0.8rem 0; /* Marges internes adaptées */
      margin: 0; /* Suppression de l'espacement latéral */
    }
  }
  